In [14]:
#Приводим датасет в норму для загрузки в бд.

import pandas as pd
csv = pd.read_excel(r'C:\Users\User\Desktop\jupyter\test sb\tables1.xlsx')
# Замена всех значений NaN на 'null' во всей таблице
# csv.fillna('null', inplace=True)
csv.head()

,DT,AVAYA,SPLIT_N,ACDCALLS,RINGTIME,ACDTIME,ACWTIME,HOLDACDTIME
0,21.07.19,38333,General,153,740,21714,2541,2242
1,30.06.20,24937,BLOCK,8,7,1179,27,94
2,19.07.20,38935,General,18,68,2405,122,118
3,08.06.20,45244,VIP ERKC,25,138,5930,969,63
4,05.03.20,33448,General,35,51,5307,461,690

In [15]:
csv['NAME_new'] = (
                   "INSERT INTO FACT_SPLITS (ID,DT,AVAYA,SPLIT_N,ACDCALLS,RINGTIME,ACDTIME,ACWTIME,HOLDACDTIME) VALUES (" 
                   + csv.index.astype(str) + ",'" 
                   + csv['DT'].astype(str) + "'," 
                   + csv['AVAYA'].astype(str) + ",'" 
                   + csv['SPLIT_N'].astype(str) + "',"
                   + csv['ACDCALLS'].astype(str) + ","
                   + csv['RINGTIME'].astype(str) + ","
                   + csv['ACDTIME'].astype(str) + ","
                   + csv['ACWTIME'].astype(str) + ","
                   + csv['HOLDACDTIME'].astype(str) + ");"
                  )

csv_ex = csv[['NAME_new']].astype(str)

In [13]:
csv_ex.to_csv('FACT_SPLITS_ins.csv', index=False)